.list {
    list-style: none;
    width: 100%;
    background-color: var(---grey-2, #1F1F1F);
    padding: 24px;
}
.listItem {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-bottom: 4px;
}
.listItemInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
}
.icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 8px;
}
.title {
    flex-grow: 1;
    flex-shrink: 0;
}
.actions {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8px;
}
.children {
    display: block;
    width: 100%;
    flex-basis: 100%;
}