.wrapper {
    display: block;
    position: relative;
}

.inputWrapper {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    background-color: var(---level-3, #292929);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(---muted, #808080);
}

.inputWrapper:hover {
    background-color: var(---level-2, #1F1F1F);
    border-bottom-color: var(---primary, #5779D9);
    box-shadow: rgba(40 40 40 0.2) 0 0 0 inset;
}

.inputWrapper.error {
    background-color: var(---input-error, #9D131366);
    border-bottom-color: var(---input-error-border, #A41318);
}

.label {
    position: absolute;
    margin: 0;
    min-width: 0;
    top: 16px;
    left: 16px;
    width: auto;
    font-size: smaller;
    user-select: none;
    color: var(---muted, #808080);
}


.input {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: block;
    appearance: none;
    background-color: transparent;
    color: var(---text, #f4f4f4);
    width: 100%;
    padding: 40px 16px 16px 16px;
    border-width: 1px 1px 0;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
.inputPassword {
    padding-right: 40px;
}

.input:focus {
    outline: 0;
}

.input:active {
    border-bottom: transparent;
    outline: 0;
}

.showPassword {
    position: absolute;
    right: 2px;
    bottom: 8px;
    color: var(---text, #F4F4F4);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.notification {
    box-sizing: border-box;
    margin: 0;
    color: var(---muted, rgba(244, 244, 244, 0.5));
    min-height: 2rem;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
    font-size: xx-small;
}