.selected {
  border: 1px solid var(---warn)
}
.type {
  flex-grow: 0;
  padding: 4px;
}
.actions {
  display: inline-flex;
  align-items: center;
}
.caption {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 4px;

  .icon {
    padding: 4px;
  }
}