.container {
  display: block;
  width: 100%;
  padding: 52px 8px 62px 8px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;

  @include tablet {
    padding: 24px 24px 96px;
  }

  &.small {
    margin: 0 auto;
    max-width: 800px;
  }

  &.flex {
    display: flex;
    flex-direction: column;
  }

  &.tiny {
    margin: 0 auto;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
    max-width: 380px;
  }
}