div.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(---grey-3);
    -webkit-transition: .4s;
    transition: .4s;

    border-color: transparent;
    border-width: 4px;
    border-style: solid;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 0;
      bottom: 0;
      background-color: white;
      -webkit-transition: .4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .slider {
    background-color: var(---primary);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(---primary);
    border-color: var(---focus);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  &.small {
    width: 48px;
    height: 27px;

    span.slider {
      &:before {
        height: 20px;
        width: 20px;
      }
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

}