
.app {
  position: relative;
  display: flex;
  min-height: 100vh;

  & > .appInner {
    position: relative;
    display: flex;
    flex-direction: column;
    order: 2;
    flex-grow: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
