.authLayout {
  .logoWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;

    .navItem {
      display: inline-flex;
      width: 50%;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      padding: 8px;
    }
  }
}