.chatLayout {
  flex-grow: 1;
  padding: 12px;
  margin-bottom: 24px;

  .chatMessages {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    flex-direction: column;
    background-color: var(---grey-2);
    border-radius: 16px;
    overflow: hidden auto;

    &.chatMessagesWithError {
      border-radius: 18px 18px 0 0;
    }

    .chatMessageWrapper {
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      padding: 8px;
      margin: 4px;
      align-self: flex-start;

      text-align: left;
      color: var(---text-contrast);
      background-color: var(---tertiary);

      .chatMessageTime {
        font-size: 0.8rem;
      }

      &.chatMessageWrapperSelf {
        align-self: flex-end;
        text-align: right;
        background-color: var(---primary-active);
      }
    }
  }



  .chatNotification {
    flex-grow: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  .chatMessageForm {
    display: flex;
    flex-grow: 0;
    width: 100%;
    padding-top: 8px;
  }

  .chatInput {
    box-sizing: border-box;
    margin: 0;
    display: block;
    width: 100%;
    padding: 4px;
    appearance: none;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid;
    border-radius: 16px;
    color: inherit;
    flex-grow: 1;
    background-color: var(---grey-1);
  }

  .chatSendButton {
    display: none;
    margin-left: 12px;
  }

  .chatMobileSendButton {
    display: inline-block;
    margin-left: 4px;
  }

  @media only screen and (min-width: 600px) and (min-height: 600px) {
    .chatSendButton {
      display: inline-block;
    }
    .chatMobileSendButton {
      display: none;

    }
  }
}


