.devicesList {
  .deviceSelected {
    border: 1px solid var(---warn)
  }

  .type {
    flex-grow: 0;
    padding: 4px;
  }

  .deviceActions {
    display: inline-flex;
    align-items: center;
  }

  .deviceCaption {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 4px;

    svg {
      margin-right: 4px;
    }
  }

  .deviceLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
  }
}
.devicePanel {
  margin-bottom: 64px;
  padding-bottom: 24px;
  .heading {
    display: flex;
    align-items: center;

    button {
      margin-left: 8px;
    }
  }
}