  .settingsPanel {
    padding-bottom: 64px;
    margin-bottom: 24px;
  }
  .settingsNav {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;

    .settingsNavItem {
      display: inline-flex;
      width: 50%;
      align-items: center;
      justify-content: center;
      margin-top: 0;

      .settingHeading {
        margin: 8px 0;
      }
    }
  }
