.stageModal {
  .stageModalAudioTypeDescription {
    padding-bottom: 32px;
  }
  .stageModalCheckboxLabel {
    display: inline-flex;
    flex-direction: column;
    font-size: smaller;
    padding: 16px;
    color: var(---muted);

    & > div {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    width: 100%;
    @include tablet {
      width: 50%;
    }
  }
}
.inviteModal {
  .inviteCodeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inviteModalActions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;

    .inviteModalCopy {
      padding-right: 8px;
    }
  }
}

.stagesList {
  .stagesListActions {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    button {
      margin: 8px 0;
    }
  }
  .stageItemActive {
    border: 1px solid var(---warn)
  }
  .stageItemName {
    flex-grow: 1;
    padding: 8px;
    align-items: center;
    display: inline-flex;
  }
  .stagesListLabel {
    width: 100%;
    text-align: right;
  }
  .stageItemHideOnMobile {
    display: none;
    @include tablet {
      display: inline;
    }
  }
}