span.tag {
  display: inline-flex;
  flex-grow: 0;
  align-items: center;
  padding: 2px 8px;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px;
  border-color: var(---text);
  color: var(---text);
  margin: 5px;

  &.primary {
    border-color: var(---primary);
    color: var(---primary)
  }
  &.contrast {
    border-color: var(---text-contrast);
    color: var(---text-contrast)
  }
  &.danger {
    border-color: var(---danger);
    color: var(---danger)
  }
  &.success {
    border-color: var(---success);
    color: var(---success)
  }
  &.warn {
    border-color: var(---warn);
    color: var(---warn)
  }
}