.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;

    canvas {
      background: url("/room/background.svg") !important;
    }
  }
}

.resetPanel {
  position: fixed;
  bottom: 88px;
  right: 8px;
  margin-left: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  button {
    margin-top: 8px
  }

  @media only screen and (min-width: 700px) and (min-height: 600px) {
    right: 24px;
    bottom: 24px;
    margin-left: 0;
  }
}

.switch {
  position: absolute;
  top: 48px;
  left: 50%;
  width: auto;
  margin-bottom: 18px;
  font-size: 10px;
  transform: translateX(-50%);

  @media only screen and (min-width: 600px) and (min-height: 600px) {
    font-size: 12px;
    left: 24px;
    transform: none;
    top: 24px;
    margin-right: 0;
  }

  span {
    white-space: nowrap;
  }
}
