.wrapper {
    width: 50vw;
    padding-top: 100%;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;
    width: 100%;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .wrapper {
        width: 25vw;
    }
}