.button {
    font-size: unset;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    width: auto;
    background: none;
    border: none;
    color: var(---text, #F4F4F4);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition-duration: 200ms;
    transition-property: color, border-color;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    padding: 10px 12px;
}

.button:not(.active):hover {
    color: var(---text, #F4F4F4);
}

.button.primary {
    color: var(---muted, #808080);
}

.button.secondary {
    color: var(---text, #F4F4F4);
}

.button.primary:hover {
}

.button.primary.active {
    color: var(---text, #F4F4F4);
    border-bottom-color: var(---tab-border-primary, #5779D9);
}

.button.secondary:hover {
    border-bottom-color: var(---tab-border-secondary, #F20544);
}

.button.secondary.active {
    border-bottom-color: var(---tab-border-secondary, #F20544);
}