.button {
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: var(---primary, #597BD6);
    color: var(---secondary-contrast, #f4f4f4);
    background-color: var(---secondary, transparent);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
    white-space: nowrap;

    transition-duration: 200ms;
    transition-property: background;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.button.elliptic {
    border-radius: 21px;
    padding: 8px 12px;
}

.button.round.small {
    padding: 4px 6px;
}

.button.round {
    border-radius: 50%;
    padding: 12px;
}

.button.round.small {
    padding: 6px;
}

.button.inactive {
    color: var(---muted, #808080);
    border-color: var(---muted, #808080);
}

.button:not(:disabled):hover {
    background: var(---secondary-hover);
    border-color: var(---primary-hover, #3A5398);
    background-color: var(---secondary-hover, #1313134D);
    cursor: pointer;
}

.button:not(:disabled):active {
    border-color: var(---secondary-active, #5779D94D);
    background-color: var(---secondary-active, #5779D94D);
}

.button:not(:disabled):focus {
    border-color: var(---secondary-focus, #253CEB);
    outline: none;
}

.button.elliptic:not(:disabled):focus {
    padding: 6px 10px;
    border-width: 4px;
}

.button.elliptic.small:not(:disabled):focus {
    padding: 2px 4px;
}

.button.round:not(:disabled):focus {
    padding: 10px;
    border-width: 4px;
}

.button.round.small:not(:disabled):focus {
    padding: 4px;
}

.button:disabled {
    opacity: 0.5;
    cursor: default !important;
    box-shadow: none;
}
