.panel {
    width: 100%;
    box-shadow: 0 16px 20px #00000040;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    color: var(---text-contrast, #292929);
    background-color: var(---level-5, #F4F4F4);
    padding: 24px;
}
@media only screen and (min-width: 600px) and (min-height: 600px) {
    .panel {
        padding: 24px 16px;
    }
}
