
.wrapper {
    position: relative;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
    overflow: scroll;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid blue;
    background-image: url('/static/images/room-bg.svg');
    background-position: center center;
}

.buttonResetAll {
    position: absolute;
    right: 1rem;
    top: 5rem;
}

.buttonResetSingle {
    position: absolute;
    right: 1rem;
    top: 8rem;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    .buttonResetSingle {
        top: 4rem;
    }

    .buttonResetAll {
        top: 2rem;
    }
}
