.wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.editorWrapper {
    position: relative;;
    width: 100%;
    height: 100%;
}

.editor {
    position: relative;
    width: 100%;
    border-radius: 0;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    .editor {
        border-radius: 18px
    }
}

.buttonResetAll {
    position: absolute;
    right: 1rem;
    top: 5rem;
}

.buttonResetSingle {
    position: absolute;
    right: 1rem;
    top: 8rem;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    .buttonResetSingle {
        top: 4rem;
    }

    .buttonResetAll {
        top: 2rem;
    }
}

.select {
    flex-grow: 0;
}
