.codeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;

    .copy {
        padding-right: 8px;
    }
}