.panel {
  width: 100%;
  box-shadow: 0 16px 20px #00000040;
  border-radius: 18px;
  padding: 24px 16px;
  color: var(---text, #F4F4F4);
  background-color: var(---level-1, #121212);
  display: flex;
  flex-direction: column;
}
