.wrapper {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 600px) and (min-height: 600px) {
    .wrapper {
        display: none;
    }
}
.menuItem {
    z-index: -1;
    transition-property: opacity, margin-bottom;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
}
.active {
    opacity: 1;
    margin-bottom: 1rem;
}
.inactive {
    opacity: 0;
    margin-bottom: -100%;
}
