.wrapper {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.button {
}
.backdrop {
    position: fixed;
    background-color: var(---overlay, rgba(0, 0, 0, 0.3));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.menuPanel {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 16px 20px #00000040;
    border-radius: 18px;
    padding: 24px 16px;
    color: var(---text, #F4F4F4);
    background-color: var(---level-3, #121212);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    display: block;
}
.menuItem {
    display: block;
    width: 100%;
    text-align: left;
}
.profileMenu {
    width: 100%;
}
.profileButton {
    width: 100%;
}