.panel {
  width: 100%;
  box-shadow: 0 16px 20px #00000040;
  border-radius: 18px;
  color: var(---text, #F4F4F4);
  background-color: var(---level-1, #121212);
  display: flex;
  flex-direction: column;
}

.panel.level1 {
  color: var(---text, #F4F4F4);
  background-color: var(---level-1, #121212);
}

.panel.level2 {
  color: var(---text, #F4F4F4);
  background-color: var(---level-2, #1F1F1F);
}

.panel.level3 {
  color: var(---text, #F4F4F4);
  background-color: var(---level-3, #292929);
}

.panel.level4 {
  color: var(---text, #F4F4F4);
  background-color: var(---level-4, #393939);
}

.panel.level5 {
  color: var(---text-contrast, #292929);
  background-color: var(---level-5, #F4F4F4);
}
