.panel {
    display: flex;
    /*border: 1px solid var(---text, #1F1F1F);*/
    border-radius: 24px;
    overflow: hidden;
}
.radio {
}
.wrapper {
    position: relative;
    flex-grow: 1;
}
.wrapper > .radio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.wrapper > .label {;
    position: relative;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    color: var(---muted, #808080);
    background-color: var(---level-3, #292929);

    transition-duration: 200ms;
    transition-property: background, border-bottom-color;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);;
}
.wrapper > .label:hover {
    background-color: var(---level-2, #1F1F1F);
    border-bottom-color: var(---primary, #5779D9);
    box-shadow: rgba(40 40 40 0.2) 0 0 0 inset;
    color: var(---text, #f4f4f4);
}

.wrapper > .radio:checked + .label {
    background-color: var(---primary, #415CA7);
    color: var(---text, #f4f4f4);
    /*border-bottom-color: var(---primary-hover, #415CA7);*/
    border-bottom-color: transparent;
}
.wrapper > .radio:checked + .label:hover {
    background-color: var(---primary-hover, #415CA7);
    /*border-bottom-color: var(---primary-dark, #012340);*/
}

