.button {
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    border: none;
    color: var(---primary-contrast, #f4f4f4);
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    font-size: unset;


    text-shadow: none;
    transition-duration: 200ms;
    transition-property: text-shadow;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.button:hover {
    text-shadow: 0 0 10px #fff;
}

.icon {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    appearance: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    color: var(---primary, #5779D9);
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 8px;
}

.icon:hover {
    color: var(---primary-hover, #415CA7);
    background-color: var(---grey-3, #292929);

}