.wrapper {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 251px;
}

.grow {
    flex-grow: 1;
}
.measureText {
    flex-grow: 0;
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.half {
    width: 50%;
    height: 100%;
}
.full {
    width: 100%;
    height: 100%;
}
