.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 18px;
    min-height: 100%;
}
.column {
    display: flex;
    width: 140px;
    flex-direction: column;
}

.icon {
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}

.grow {
    flex-grow: 1
}
.noGrow {
    flex-grow: 0
}
.headingWithoutIcon {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sliderWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 1rem;
    align-items: center;
    justify-content: flex-end;
}
