.wrapper {
  display: block;
  position: relative;
}
.wrapper .inputWrapper {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.wrapper .inputWrapper:hover {
  box-shadow: inset 0 0 0 rgba(40, 40, 40, 0.2);
}
.wrapper .label {
  position: absolute;
  margin: 0;
  min-width: 0;
  top: 16px;
  left: 16px;
  width: auto;
  font-size: smaller;
}
.wrapper .input {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  appearance: none;
  background-color: transparent;
  width: 100%;
  padding: 40px 16px 16px 16px;
  border-width: 1px 1px 0;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.wrapper .inputPassword {
  padding-right: 40px;
}
.wrapper .input:focus {
  outline: 0;
}
.wrapper .input:active {
  border-bottom: transparent;
  outline: 0;
}
.wrapper .input:-webkit-autofill, .wrapper .input:-webkit-autofill:hover, .wrapper .input:-webkit-autofill:focus {
  border-bottom-color: transparent;
  box-shadow: inset 0 0 0 1000px #505050;
}
.wrapper .showPassword {
  position: absolute;
  right: 2px;
  bottom: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.wrapper .notification {
  box-sizing: border-box;
  margin: 0;
  min-height: 2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  font-size: xx-small;
}
/** Dark mode (default) */
.wrapper:not(.light) .inputWrapper {
  background-color: var(---level-3, #292929);
  border-bottom-color: var(---muted, #808080);
}
.wrapper:not(.light) .inputWrapper:hover {
  background-color: var(---level-2, #1f1f1f);
  border-bottom-color: var(---primary, #5779d9);
}
.wrapper:not(.light) .inputWrapper.error {
  background-color: var(---input-error, #9d131366);
  border-bottom-color: var(---input-error-border, #a41318);
}
.wrapper:not(.light) .label {
  color: var(---muted, #808080);
}
.wrapper:not(.light) .input {
  color: var(---text, #f4f4f4);
}
.wrapper:not(.light) .input:-webkit-autofill, .wrapper:not(.light) .input:-webkit-autofill:hover, .wrapper:not(.light) .input:-webkit-autofill:focus {
  -webkit-text-fill-color: #f4f4f4;
}
.wrapper:not(.light) .showPassword {
  color: var(---text, #f4f4f4);
}
.wrapper:not(.light) .notification {
  color: var(---muted, rgba(244, 244, 244, 0.5));
}
/** Light mode */
.wrapper.light .inputWrapper {
  background-color: var(---level-5, #f4f4f4);
  border-bottom-color: var(---muted, #808080);
}
.wrapper.light .inputWrapper:hover {
  background-color: var(---input-hover-light, #12121226);
  border-bottom-color: var(---primary, #5779d9);
}
.wrapper.light .inputWrapper.error {
  background-color: var(---input-error, #9d131366);
  border-bottom-color: var(---input-error-border, #a41318);
}
.wrapper.light .label {
  color: var(---muted, #29292999);
}
.wrapper.light .input {
  color: var(---text-contrast, #292929);
}
.wrapper.light .input:-webkit-autofill, .wrapper.light .input:-webkit-autofill:hover, .wrapper.light .input:-webkit-autofill:focus {
  -webkit-text-fill-color: #f4f4f4;
}
.wrapper.light .showPassword {
  color: var(---text, #f4f4f4);
}
.wrapper.light .notification {
  color: var(---muted, rgba(244, 244, 244, 0.5));
}
