.panel {
  padding-bottom: 64px;
  margin-bottom: 24px;
}
.nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;

  .navItem {
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    .heading {
      margin: 8px 0;
    }
  }
}