/** DEVICE SELECTOR **/
.deviceSelector {
  position: fixed;
  left: 0;
  bottom: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(---text);

  &.large {
    background-color: #121212;
    padding: 8px;
    bottom: 0;
  }

  @media only screen and (min-width: 600px) and (min-height: 600px) {
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 16px;
  }

  button {
    font-size: 24px;
  }
}

.deviceSelectorItem {
  color: #f4f4f4;
  padding-left: 4px;
  padding-right: 4px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}