.wrapper {
}
.spacer {
    padding: 24px;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 100%;
    align-items: center;
}
.icon {
    position: relative;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    user-select: none;
    transition-duration: 200ms;
    transition-property: text-shadow;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.row:hover > .title {
    text-shadow: 0 0 10px #fff;
}


.actions {
    flex-grow: 0;
    flex-shrink: 0;
}

.toggle {
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    margin-left: 8px;
}

.children {
    width: 100%;
    height: 0;
    transform-origin: top;
    overflow: hidden;
    /*
    transform: scaleY(0);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
     */
}

.children.collapsed {
    /* transform: scaleY(1); */
    height: auto;
}

.hr {
    margin-left: 24px;
    margin-right: 24px;
}
