.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    padding: 72px 12px;
    min-height: 100%;
    transition-duration: 200ms;
    transition-property: background-color, backdrop-filter;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);

    /* Closed state */
    background-color: transparent;
    backdrop-filter: blur(10px) opacity(0);
}

.backdrop.opening {
    background-color: transparent;
    backdrop-filter: blur(10px) opacity(0);
}
.backdrop.open {
    background-color: var(---overlay, rgba(0, 0, 0, 0.4));
    backdrop-filter: blur(10px) opacity(1);
}
.backdrop.closing {
    background-color: transparent;
    backdrop-filter: blur(10px) opacity(0);
}

.modal {
    display: block;
    align-self: flex-start;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    transition-duration: 200ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.modalHeader {
    padding-bottom: 24px;
}

.modalFooter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;
}

.modal.opening {
    opacity: 0;
    transform: translateY(30px);
}
.modal.open {
    opacity: 1;
    transform: translateY(0);
}
.modal.closing {
    opacity: 0;
    transform: translateY(30px);
}

.panel {
    margin: 0 !important;
}

.full {
    width: 100%
}
.small {
    width: 100%;
    max-width: 400px;
}
.default {
    width: 100%;
    max-width: 800px;
}
.auto {
    width: auto
}

.modalButton {
    padding-left: 8px;
}
.modalButton:first-of-type {
    padding-left: 0 !important;
}
