html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #F4F4F4;
    background: #343434 0% 0% no-repeat padding-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.headline-link-row {
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}
