@import "/fonts/fonts.css";
@import "typography";
@import "globals/backdrop";
@import "globals/background";
@import "globals/button";
@import "globals/collapse";
@import "globals/container";
@import "globals/headline-button";
@import "globals/input";
@import "globals/list";
@import "globals/menu";
@import "globals/modal";
@import "globals/notification";
@import "globals/optionslist";
@import "globals/topoverlay";
@import "globals/panel";
@import "globals/select";
@import "globals/switch";
@import "globals/tag";
@import "globals/textswitch";
@import "layout/app";
@import "layout/auth";
@import "layout/chat";
@import "layout/devices";
@import "layout/settings";
@import "layout/stage";
@import "layout/stages";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(---text, #f4f4f4);
  background-color: var(---grey-1, #121212);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** LAYOUT **/
.center {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-1 {
  padding: 4px !important;
}

.pt-1 {
  padding-top: 4px !important;
}

.pb-1 {
  padding-bottom: 4px !important;
}

.p-2 {
  padding: 8px !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.p-3 {
  padding: 16px !important;
}

.pt-3 {
  padding-top: 16px !important;
}

.pb-3 {
  padding-bottom: 16px !important;
}

.p-4 {
  padding: 32px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}



/** INTERACTION **/
a.text {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 16px;
}