@mixin animate($property) {
  transition-duration: 200ms;
  transition-property: $property;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

/***
  GENERAL LAYOUT
 */


.container {

  .panel {

  }

  header {

    a {

    }
  }

  p {

  }

  a {

  }
}

.insideStage {
  .container {

  }
}
