
/*
:root  {
    ---dedede-dirty-white-level-5-lines: #DEDEDE;

    ---primary: #5779D9;
    ---primary-disabled: rgba(87, 121, 217, 0.5);
    ---primary-hover: #415CA7;
    ---primary-focus: #253CEB;
    ---primary-active: #6F92F8;
    ---primary-dark: #012340;

    ---676767-tertiarygrey-outline-hover: #676767;
    ---a8a8a8-tertiarygrey-outline-textsoft-textsoft-inverted-active-label-helper: #9A9A9A;
    ---808080-tertiarygrey-outline-: #808080;
    ---f20544-digital-stage-red-danger-button: #F20544;
    ---b50030-function-floating-hoover-: #B50030;
    ---fa4d55-state-error-modal-info: #FA406B;
    ---success: #41BD64;
    ---warn: #F0C11B;
    ---grey-3: #292929;
    ---grey-1: #121212;
    ---grey-2: #1F1F1F;
    ---grey-4: #393939;
    ---text: #F4F4F4;

}
*/
