.wrapper {
    width: 100%;
    padding: 12px;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .wrapper {
        padding: 72px;
    }
}

.logo {
    max-width: 180px;
    padding-bottom: 24px;
}

.panel {
    margin: 0 auto;
    box-shadow: 0 16px 20px #00000040;
    border-radius: 18px;
    padding: 24px 16px;
    color: var(---text, #F4F4F4);
    background-color: var(---level-1, #121212);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    flex-grow: 1;
}

@media only screen and (min-width: 600px) {
    .panel {
        padding-left: 24px;
        padding-right: 24px;
    }
}
